@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap");

* {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

:root {
  --cyanColor: #448899;
  --grayColor: #666666;
  --additional: #ffffff;
  --secondaryColor: #f8f8f8;
  --textShadowColor: #aabbcc;
  --footerColor: #757575;
}

.slogan-title {
  font-size: 28px;
  line-height: 24px;
  font-weight: bold;
}

.headline {
  font-size: 30px;
  line-height: 34px;
  font-weight: bold;
}

.dialog-title-bold {
  font-size: 24px;
  line-height: 24px;
  font-weight: bold;
}

.dialog-title-regular {
  font-size: 24px;
  line-height: 24px;
}

.button-bold {
  font-size: 19px;
  line-height: 16px;
  font-weight: bold;
}

.button-regular {
  font-size: 19px;
  line-height: 16px;
}

.content-bold {
  line-height: auto;
  font-weight: bold;
}

.content-regular {
  line-height: auto;
}

.body-bold {
  line-height: 13.3px;
  font-weight: bold;
}

.body-regular {
  line-height: 13.3px;
}

.category-list {
  font-weight: medium;
  line-height: auto;
}

/* navbar--------------------------------------- */
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 54px;
  width: 100%;
  background-color: var(--additional);
  position: fixed;
  z-index: 1000;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 34px;
  width: 1200px;
}

.nav-container-slogan {
  height: 34px;
  width: 150px;
  color: var(--cyanColor);
  text-decoration: none;
}

.nav-container-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-link-button {
  padding: 10px;
  cursor: pointer;
  border: 0;
  color: var(--grayColor);
  background-color: var(--additional);
}

/* hero selection--------------------------------------- */
.section {
  padding-top: 56px;
}

.hero-selection {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 320px;
  width: 100%;
  background-color: var(--additional);
}

.hero-selection-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 320px;
  width: 1920px;
  background-image: url("/static/images/welcome image.png");
  background-size: 1920px;
}

.hero-selection-item {
  display: grid;
  grid-template-rows: 41px 15px 22px 25px 46px;
  height: 149px;
  width: 1180px;
  padding: 10px;
}

.hero-selection-space {
  grid-row: 1 / 2;
  color: var(--additional);
  text-shadow: 0px 0px 30px var(--textShadowColor);
  display: flex;
  align-items: center;
}

.hero-selection-space:nth-child(2) {
  grid-row: 3/4;
  color: var(--additional);
}

.hero-selection-space:nth-child(3) {
  grid-row: 5/6;
}

.search-box-item {
  display: flex;
}

.search-input-box {
  display: flex;
  align-items: center;
  height: 16px;
  width: 370px;
  background-color: var(--additional);
  border-radius: 5px 0 0 5px;
  border: 0;
  padding: 15px;
}

.search-input-text {
  width: 100%;
  border: 0;
  outline: none;
}

.search-button-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 46px;
  width: 60px;
  background-color: var(--cyanColor);
  border-radius: 0 5px 5px 0;
  border: 0;
  cursor: pointer;
}

.search-icon {
  width: 30px;
  height: 30px;
}

/* main--------------------------------------- */

.main-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: 100%;
  padding: 40px 0px 40px 0px;
}

/* list--------------------------------------- */
.main-containter-list {
  display: flex;
  height: 50px;
  width: 1200px;
  padding-bottom: 20px;
  position: relative;
  white-space: nowrap;
}

.left-container {
  position: absolute;
  left: 0;
  z-index: 1;
  height: 32px;
  width: 32px;
  padding: 9px 0px 9px 15px;
}

.right-container {
  position: absolute;
  right: 0;
  z-index: 1;
  height: 32px;
  width: 32px;
  padding: 9px 15px 9px 0px;
}

.list-button {
  height: 32px;
  width: 32px;
  border-radius: 16px;
  cursor: pointer;
  outline: none;
  border: 1px solid #e8e8e8;
}

.list-button-img {
  height: 100%;
  width: 100%;
}

.middle-container {
  margin: 0 47px 0 47px;
  height: 24px;
  width: auto;
  padding: 13px 10px 13px 10px;
  display: flex;
  align-items: center;
  overflow-x: scroll;
  scroll-behavior: smooth;
  white-space: nowrap;
}

.middle-container::-webkit-scrollbar {
  display: none;
}

.list-item {
  padding: 0 15px 0 15px;
  height: 100%;
  display: flex;
  align-items: center;
}

.list-text {
  font-weight: 500;
  line-height: 13.3px;
  color: var(--grayColor);
  display: flex;
  align-items: end;
  border: 0;
  background-color: var(--additional);
  cursor: pointer;
}

/* attractions----------------------------------------- */
.main-container-attractions {
  height: auto;
  width: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px 30px;
  padding: 15px;
}

.attraction-container {
  height: 240px;
  width: 268px;
  background-color: var(--additional);
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.attraction-link:hover .attraction-img {
  filter: brightness(1.2);
  transition: filter 0.3s;
}

.attraction-img-container {
  height: 195px;
  width: 100%;
  position: relative;
}

.attraction-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.loading-img {
  height: 75%;
  width: 100%;
  background-image: url("/static/images/Loading-img.svg");
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: center center;
}

.attraction-name-box {
  position: absolute;
  bottom: 0;
  height: 40px;
  width: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.7);
}

.attraction-name {
  height: 20px;
  width: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  white-space: nowrap;
}

.name-text {
  color: var(--additional);
}

.attraction-text-container {
  height: 25px;
  width: 100%-20px;
  display: flex;
  padding: 10px;
}

.mrt-box {
  height: auto;
  width: 50%;
  position: relative;
}

.category-box {
  height: auto;
  width: 50%;
  position: relative;
}

.mrt-text {
  color: var(--footerColor);
  position: absolute;
  bottom: 0;
}

.category-text {
  color: var(--footerColor);
  position: absolute;
  right: 0;
  bottom: 0;
}

/* not found box-----------------------------------*/
.not-found-box {
  color: var(--grayColor);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

/* footer----------------------------------------- */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 104px;
  width: 100%;
  background-color: var(--footerColor);
}

.footer-text {
  color: var(--additional);
}

/* signin Area----------------------------------------- */
.signin-background {
  display: none;
  position: fixed;
  z-index: 1500;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  justify-content: center;
}

.signin-main-container,
.signup-main-container {
  position: absolute;
  width: 340px;
  height: 275px;
  background-color: var(--additional);
  border: 0;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0px 4px 60px 0px #aaa;
  top: -350px;
  transition: top 0.5s ease;
}

.signup-main-container {
  height: 332px;
}

.singnin-decorator-bar {
  display: block;
  width: 100%;
  height: 10px;
  background-image: linear-gradient(270deg, #378 0%, #6ab 100%);
}

.signin-container,
.signup-container {
  width: 310px;
  height: 235px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  position: relative;
}

.signup-container {
  height: 292px;
}

.exit-button-box {
  position: absolute;
  z-index: inherit;
  width: 16px;
  height: 16px;
  right: 10px;
  top: 10px;
  padding: 7px;
}

.exit-img1,
.exit-img2 {
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.signin-title-box {
  color: var(--grayColor);
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.signin-title {
  width: 310px;
  height: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signin-input-box {
  box-sizing: border-box;
  height: 47px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-input {
  width: 280px;
  height: 17px;
  border: 0;
}

.info-input:focus {
  outline: none;
}

.signin-button {
  border: 0;
  height: 47px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: var(--cyanColor);
  color: var(--additional);
  cursor: pointer;
}

.switch-signup-mode,
.switch-signin-mode {
  height: 22px;
  border: 0;
  color: var(--grayColor);
  background-color: var(--additional);
  cursor: pointer;
}

@media screen and (max-width: 1199px) {
  .nav-container {
    height: 100%;
    width: 100% - 10px;
    padding: 10px 0 10px 10px;
  }

  .nav-container-slogan {
    width: auto;
  }

  .hero-selection-container {
    width: 100%;
    background-size: auto;
  }

  .hero-selection-item {
    display: grid;
    height: 149px;
    width: 320px;
    padding: 10px;
  }

  .search-input-box {
    width: 195px;
  }

  .main-containter-list {
    width: 100%;
  }

  .main-container-attractions {
    grid-template-columns: repeat(3, 1fr);
    /* gap: 15px; */
    width: 95%;
    gap: 30px;
  }

  .attraction-container {
    width: 100%;
    height: auto;
  }

  .attraction-img-container {
    height: 220px;
  }
}

@media screen and (max-width: 799px) {
  .main-container-attractions {
    grid-template-columns: repeat(2, 1fr);
  }

  .attraction-img-container {
    height: 200px;
  }
}

@media screen and (max-width: 399px) {
  .main-container-attractions {
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 95%;
    padding: 0;
    gap: 15px;
  }

  .attraction-container {
    grid-column: 2;
    width: 100%;
    height: auto;
  }
}
