@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap");

* {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

:root {
  --cyanColor: #448899;
  --grayColor: #666666;
  --additional: #ffffff;
  --secondaryColor: #f8f8f8;
  --bookingBackgroundColor: #e8e8e8;
  --footerColor: #757575;
  --hoverColor: #59b1c8;
}

.slogan-title {
  font-size: 28px;
  line-height: 24px;
  font-weight: bold;
}

.headline {
  font-size: 30px;
  line-height: 34px;
  font-weight: bold;
}

.dialog-title-bold {
  font-size: 24px;
  line-height: 24px;
  font-weight: bold;
}

.dialog-title-regular {
  font-size: 24px;
  line-height: 24px;
}

.button-bold {
  font-size: 19px;
  line-height: 16px;
  font-weight: bold;
}

.button-regular {
  font-size: 19px;
  line-height: 16px;
}

.content-bold {
  line-height: auto;
  font-weight: bold;
}

.content-regular {
  line-height: auto;
}

.body-bold {
  line-height: 13.3px;
  font-weight: bold;
}

.body-regular {
  line-height: 13.3px;
  font-weight: normal;
}

.category-list {
  font-weight: medium;
  line-height: auto;
}

/* navbar--------------------------------------- */
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 53px;
  width: 100%;
  background-color: var(--additional);
  position: fixed;
  z-index: 1000;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 34px;
  width: 1200px;
}

.nav-container-slogan {
  height: 34px;
  width: 150px;
  color: var(--cyanColor);
  text-decoration: none;
}

.nav-container-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-link-button {
  padding: 10px;
  cursor: pointer;
  border: 0;
  color: var(--grayColor);
  background-color: var(--additional);
}

.container-link-button:hover {
  font-weight: 500;
}

/* main----------------------------------------- */
.main {
  margin-top: 54px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-container {
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1200px;
}

.order-title {
  box-sizing: border-box;
  width: 1000px;
  height: 27px;
  display: flex;
  align-items: center;
}

.order-title p {
  color: var(--grayColor);
}

.section-container {
  margin-top: 30px;
  width: 980px;
  height: 200px;
  display: flex;
  justify-content: space-between;
}

.img-container {
  width: 250px;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: flex;
  flex-shrink: 0;
}

.info-container {
  width: 700px;
  height: 170px;
  position: relative;
}

.info-container img {
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.info-title {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  height: 24px;
  margin-bottom: 20px;
}

.info-title p {
  color: var(--cyanColor);
}

.info-date,
.info-time,
.info-cost,
.info-place {
  height: 24px;
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--grayColor);
  margin-top: 10px;
}

.hr-line {
  margin: 40px 0;
  stroke: var(--bookingBackgroundColor);
  stroke-width: 1;
}

.contact-form,
.credit-card-form {
  width: 980px;
  height: 227px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.credit-card-form {
  height: 188px;
}

.contact-info-title,
.card-info-title {
  height: 24px;
  display: flex;
  color: var(--grayColor);
  margin-bottom: 5px;
}

.contact-info-title p,
.card-info-title p {
  display: flex;
  align-items: center;
}

.contact-name,
.contact-email,
.contact-phone,
.card-number,
.card-expiration,
.card-password {
  display: flex;
  align-items: center;
  height: 38px;
  color: var(--grayColor);
}

.contact-name p,
.contact-email p,
.contact-phone p,
.card-number p,
.card-expiration p,
.card-passwor p {
  display: flex;
  align-items: center;
  color: var(--grayColor);
}

.input-box {
  box-sizing: border-box;
  border: 1px solid var(--bookingBackgroundColor);
  border-radius: 5px;
  height: 100%;
  width: 200px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-name input,
.contact-email input,
.contact-phone input,
.card-number input,
.card-expiration input,
.card-password input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
}

.contact-form p {
  height: 24px;
  color: var(--grayColor);
  display: flex;
  align-items: center;
  line-height: normal;
}

.checkout-box {
  width: 980px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.price-box {
  width: 174px;
  height: 20px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.checkout-price {
  color: var(--grayColor);
  text-align: right;
}

.checkout-button {
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: var(--cyanColor);
  color: var(--additional);
  margin: 22px 0;
  cursor: pointer;
}

.checkout-button:hover {
  background-color: var(--hoverColor);
  color: var(--grayColor);
}

/* footer----------------------------------------- */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 100%;
  background-color: #757575;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23666666' fill-opacity='0.94' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

.footer-content {
  height: 104px;
  display: flex;
  align-items: center;
}

.footer-text {
  color: var(--additional);
}

.not-found-box {
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.not-found {
  width: 250px;
}

html,
body {
  height: 100%;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.user-info {
  margin: 0 10px;
}

.no-booking-info {
  margin-top: 30px;
  padding: 0 10px;
  box-sizing: border-box;
  color: var(--grayColor);
}

.loading-img {
  background-image: url("/static/images/Loading-img.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
}

/* signin Area----------------------------------------- */
.signin-background {
  display: none;
  position: fixed;
  z-index: 1500;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  justify-content: center;
}

.signin-main-container,
.signup-main-container {
  position: absolute;
  width: 340px;
  height: auto;
  background-color: var(--additional);
  border: 0;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0px 4px 60px 0px #aaa;
  top: -350px;
  transition: top 0.5s ease;
}

.singnin-decorator-bar {
  display: block;
  width: 100%;
  height: 10px;
  background-image: linear-gradient(270deg, #378 0%, #6ab 100%);
}

.signin-container,
.signup-container {
  width: 310px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  position: relative;
}

.exit-button-box {
  position: absolute;
  z-index: inherit;
  width: 16px;
  height: 16px;
  right: 10px;
  top: 10px;
  padding: 7px;
}

.exit-img1,
.exit-img2 {
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.signin-title-box {
  color: var(--grayColor);
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.signin-title {
  width: 310px;
  height: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signin-input-box {
  box-sizing: border-box;
  height: 47px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-input {
  width: 280px;
  height: 17px;
  border: 0;
}

.info-input:focus {
  outline: none;
}

.signin-button {
  border: 0;
  height: 47px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: var(--cyanColor);
  color: var(--additional);
  cursor: pointer;
}

.switch-signup-mode,
.switch-signin-mode {
  height: 22px;
  border: 0;
  color: var(--grayColor);
  background-color: var(--additional);
  cursor: pointer;
}

.alert-container {
  color: red;
  display: flex;
  justify-content: center;
  font-size: 10px;
}

.user-welcome:hover {
  font-weight: normal;
  cursor: auto;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 2000;
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.overlay img {
  width: 100px;
  height: 100px;
}

.overlay-box {
  box-sizing: border-box;
  box-shadow: 0px 4px 60px 0px #aaa;
  border-radius: 10px;
  overflow: hidden;
  width: 120px;
  height: 135px;
  background-color: var(--additional);
}

@media screen and (max-width: 1199px) {

  .nav-container {
    padding-left: 10px;
    width: 100%;
  }

  .main-container {
    box-sizing: border-box;
    width: 100%;
    padding: 0 10px;
  }

  .order-title,
  .contact-form,
  .credit-card-form,
  .checkout-box,
  .section-container {
    width: 100%;
  }

  .section-container {
    justify-content: space-around;
  }

  .info-container {
    width: 300px;
  }

  .img-container {
    width: 40%;
  }
}

@media screen and (max-width: 650px) {
  .user-welcome {
    display: none;
  }

  .section-container {
    margin: 0;
    flex-direction: column;
    height: auto;
  }

  .img-container {
    box-sizing: border-box;
    width: 100%;
    border-radius: 0;
    margin: 30px 0;
  }

  .info-container img {
    position: absolute;
    top: auto;
    bottom: 0;
  }

  .info-container {
    width: 100%;
    height: 200px;
    margin-bottom: -10px;
  }
}
