<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>台北一日遊</title>
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style/attraction.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style/lightDarkMode.css') }}"
      id="darkModeStylesheet"
      disabled
    />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  </head>

  <body>
    {% include 'navbar.html' %} {% include 'login_system.html' %}
    <div class="wrapper">
      <selection class="selection">
        <div class="selection-container">
          <div class="selection-img-container" data-aos="zoom-in">
            <div class="selection-img-box"></div>
            <div class="img-button">
              <img
                class="img-button-style"
                src="/static/images/left arrow.png"
                alt=""
                onclick="changeImage(-1)"
              />
              <img
                class="img-button-style"
                src="/static/images/right arrow.png"
                alt=""
                onclick="changeImage(1)"
              />
            </div>
          </div>
          <div class="selection-info-container">
            <div
              class="selection-info-profile"
              data-aos="fade-down"
              data-aos-delay="200"
            >
              <p class="dialog-title dialog-title-bold"></p>
              <p class="category-and-mrt"></p>
            </div>
            <div
              class="booking-container"
              data-aos="fade-left"
              data-aos-delay="400"
            >
              <p class="booking-title body-bold">訂購導覽行程</p>
              <p class="booking-title-content body-regular">
                以此景點為中心的一日行程，帶您探索城市角落故事
              </p>
              <form class="booking-list">
                <div class="booking-date">
                  <p class="booking-date-text body-bold">選擇日期：</p>
                  <label class="date-input-box">
                    <input
                      class="date-input"
                      type="date"
                      id="custom-date-input"
                      required
                    />
                  </label>
                </div>
                <div class="booking-time">
                  <p class="body-bold">選擇時間：</p>
                  <div class="radio-button">
                    <input
                      type="radio"
                      class="select-item"
                      id="morning"
                      name="time"
                      value="morning"
                      required
                    />
                    <label class="body-regular" for="morning">上半天</label>
                  </div>
                  <div class="radio-button">
                    <input
                      type="radio"
                      class="select-item"
                      id="afternoon"
                      name="time"
                      value="afternoon"
                    />
                    <label class="body-regular" for="afternoon">下半天</label>
                  </div>
                </div>
                <div class="booking-cost body-bold">
                  導覽費用：
                  <p class="body-regular" id="tour-cost"></p>
                </div>
                <button type="submit" class="booking-button button-regular">
                  開始預約行程
                </button>
              </form>
            </div>
          </div>
        </div>
      </selection>
      <main class="main">
        <div class="main-container">
          <svg class="hr-line" height="2" width="100%">
            <line
              x1="0"
              y1="0"
              x2="100%"
              y2="0"
              style="stroke: var(--bookingBackgroundColor); stroke-width: 1"
            />
          </svg>

          <div class="main-description" data-aos="fade-up" data-aos-delay="600">
            <p></p>
          </div>

          <div
            class="attraction-address"
            data-aos="fade-up"
            data-aos-delay="800"
          >
            <p class="info-title body-bold">景點地址：</p>
            <p class="info-title-text"></p>
          </div>

          <div class="transport" data-aos="fade-up" data-aos-delay="800">
            <p class="info-title body-bold">交通方式：</p>
            <p></p>
          </div>
        </div>
      </main>

      <footer class="footer">
        <div class="footer-content">
          <p class="footer-text body-bold">COPYRIGHT © 2023 台北一日遊</p>
        </div>
      </footer>
    </div>
    <script>
      AOS.init();
    </script>
    <script src="{{ url_for('static', filename='script/member.js') }}"></script>
    <script src="{{ url_for('static', filename='script/attraction.js') }}"></script>
    <script src="{{ url_for('static', filename='script/lightDarkMode.js') }}"></script>
  </body>
</html>
