<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>台北一日遊</title>
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style/booking.css') }}"
    />
    <script src="https://js.tappaysdk.com/sdk/tpdirect/v5.14.0"></script>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  </head>

  <body class="body">
    <div class="overlay" id="overlay">
      <div class="overlay-box">
        <img src="/static/images/Loading-img.svg" alt="" />
        <p>Redirecting...</p>
      </div>
    </div>

    {% include 'navbar.html' %} {% include 'login_system.html' %}

    <div class="wrapper">
      <div class="main">
        <div class="main-container">
          <div class="order-title" data-aos="fade-right">
            <p id="user-name-text" class="button-bold user-info">
              您好， ，待預定的行程如下：
            </p>
          </div>

          <div
            id="no-booking-info"
            class="order-title no-booking-info"
            data-aos="fade-right"
            data-aos-delay="200"
          >
            <p>目前沒有任何待預訂的行程</p>
          </div>

          <div id="booking-info">
            <div id="booking-section"></div>
            <!-- <div class="section-container">
              <div class="img-container">
                <img
                  id="booking-img"
                  src=""
                  alt=""
                />
              </div>
              <div class="info-container" >
                <img
                  id="delete-button"
                  src="/static/images/delete-icon.png"
                  alt=""
                />
                <div class="info-title body-bold">
                  <p id="booking-attraction">台北一日遊：</p>
                </div>
                <div class="info-date">
                  <p class="body-bold">日期：</p>
                  <p id="booking-date"></p>
                </div>
                <div class="info-time">
                  <p class="body-bold">時間：</p>
                  <p id="booking-time"></p>
                </div>
                <div class="info-cost">
                  <p class="body-bold">費用：</p>
                  <p id="booking-price"></p>
                </div>
                <div class="info-place">
                  <p class="body-bold">地點：</p>
                  <p id="booking-address"></p>
                </div>
              </div>
            </div> -->

            <svg class="hr-line" height="2" width="100%">
              <line
                x1="0"
                y1="0"
                x2="100%"
                y2="0"
                style="stroke: var(--bookingBackgroundColor); stroke-width: 1"
              />
            </svg>

            <div
              class="contact-form"
              data-aos="fade-right"
              data-aos-delay="400"
            >
              <div class="contact-info-title">
                <p class="button-bold">您的聯絡資訊</p>
              </div>
              <div class="contact-name">
                <p>聯絡姓名：</p>
                <div class="input-box">
                  <input type="text" id="user-name" name="user-name" />
                </div>
              </div>
              <div class="contact-email">
                <p>連絡信箱：</p>
                <div class="input-box">
                  <input type="email" id="user-email" name="user-email" />
                </div>
              </div>
              <div class="contact-phone">
                <p>手機號碼：</p>
                <div class="input-box">
                  <input
                    type="text"
                    id="user-phone"
                    name="user-phone"
                    
                  />
                </div>
              </div>
              <p class="body-bold">
                請保持手機暢通，準時到達，導覽人員將用手機與您聯繫，務必留下正確的聯絡方式。
              </p>
            </div>

            <svg class="hr-line" height="2" width="100%">
              <line
                x1="0"
                y1="0"
                x2="100%"
                y2="0"
                style="stroke: var(--bookingBackgroundColor); stroke-width: 1"
              />
            </svg>

            <div
              class="credit-card-form"
              data-aos="fade-right"
              data-aos-delay="500"
            >
              <div class="card-info-title">
                <p class="button-bold">信用卡付款資訊</p>
              </div>
              <div class="card-number">
                <p>卡片號碼：</p>
                <div class="input-box" id="card-number">
                  <input type="text" name="card-number" />
                </div>
              </div>
              <div class="card-expiration">
                <p>過期時間：</p>
                <div class="input-box" id="card-expiration-date">
                  <input type="text" name="card-expiration-date" />
                </div>
              </div>
              <div class="card-password">
                <p>驗證密碼：</p>
                <div class="input-box" id="card-ccv">
                  <input type="text" name="card-ccv" />
                </div>
              </div>
            </div>

            <svg class="hr-line" height="2" width="100%">
              <line
                x1="0"
                y1="0"
                x2="100%"
                y2="0"
                style="stroke: var(--bookingBackgroundColor); stroke-width: 1"
              />
            </svg>

            <div class="checkout-box">
              <div class="price-box" data-aos="fade-left" data-aos-delay="700">
                <p id="booking-totalprice" class="checkout-price body-bold">
                  總價：
                </p>
              </div>
              <button
                class="checkout-button button-regular"
                id="checkout-button"
                data-aos="zoom-in"
                data-aos-delay="1000"
              >
                確認訂購並付款
              </button>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="footer-content">
          <p class="footer-text body-bold">COPYRIGHT © 2023 台北一日遊</p>
        </div>
      </footer>
    </div>

    <script src="{{ url_for('static', filename='script/member.js') }}"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
    <script src="{{ url_for('static', filename='script/booking.js') }}"></script>
    <script src="{{ url_for('static', filename='script/payment.js') }}"></script>
  </body>
</html>
