<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>台北一日遊</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='homepage.css') }}"
    />
    <script src="{{ url_for('static', filename='index.js') }}"></script>
  </head>
  <body>
    <nav class="nav">
      <div class="nav-container">
        <p class="nav-container-slogan headline">台北一日遊</p>

        <div class="nav-container-button">
          <button class="container-link-button body-regular">預定行程</button>
          <button class="container-link-button body-regular">登入/註冊</button>
        </div>
      </div>
    </nav>
    <section class="section">
      <div class="hero-selection">
        <div class="hero-selection-container">
          <div class="hero-selection-item">
            <p class="hero-selection-space slogan-title">
              輕鬆享受台北一日悠閒
            </p>
            <p class="hero-selection-space body-bold">
              探索探索每個角落，體驗城市的深度旅遊行程
            </p>
            <!-- <div class="hero-selection-space search-box-item">
              <div class="search-input-box">
                <input
                  class="search-input-text body-bold"
                  type="text"
                  placeholder="輸入景點名稱查詢"
                />
              </div>

              <button class="search-button-box">
                <img
                  class="search-icon"
                  src="/static/images/search.png"
                  alt=""
                />
              </button>
            </div> -->
          </div>
        </div>
      </div>
    </section>
    <!-- <main>
      <div class="main-container">
        <div class="main-containter-list">
          <div class="left-container">
            <button id="scroll-left-button" class="list-button">
              <img
                class="list-button-img"
                src="/static/images/left arrow.png"
                alt=""
              />
            </button>
          </div>
          <div class="right-container">
            <button id="scroll-right-button" class="list-button">
              <img
                class="list-button-img"
                src="/static/images/right arrow.png"
                alt=""
              />
            </button>
          </div>
          <div class="middle-container">
            <div class="list-item">
              <button class="list-text">劍潭</button>
            </div>
            <div class="list-item">
              <button class="list-text">圓山</button>
            </div>
            <div class="list-item">
              <button class="list-text">士林</button>
            </div>
            <div class="list-item">
              <button class="list-text">新北投</button>
            </div>
            <div class="list-item">
              <button class="list-text">台大醫院</button>
            </div>
            <div class="list-item">
              <button class="list-text">龍山寺</button>
            </div>
            <div class="list-item">
              <button class="list-text">西門</button>
            </div>
            <div class="list-item">
              <button class="list-text">動物園</button>
            </div>
            <div class="list-item">
              <button class="list-text">小南門</button>
            </div>
            <div class="list-item">
              <button class="list-text">雙聯</button>
            </div>
            <div class="list-item">
              <button class="list-text">善導寺</button>
            </div>
            <div class="list-item">
              <button class="list-text">中山</button>
            </div>
            <div class="list-item">
              <button class="list-text">民權西路</button>
            </div>
            <div class="list-item">
              <button class="list-text">中正紀念堂</button>
            </div>
            <div class="list-item">
              <button class="list-text">關渡</button>
            </div>

            <div class="list-item">
              <button class="list-text">雙聯</button>
            </div>
            <div class="list-item">
              <button class="list-text">善導寺</button>
            </div>
            <div class="list-item">
              <button class="list-text">中山</button>
            </div>
            <div class="list-item">
              <button class="list-text">民權西路</button>
            </div>
            <div class="list-item">
              <button class="list-text">中正紀念堂</button>
            </div>
            <div class="list-item">
              <button class="list-text">關渡</button>
            </div>
          </div>
        </div>
        <div class="main-container-attractions">
          <div class="attraction-container">
            <div class="attraction-img-container">
              <img
                id="attraction-image"
                class="attraction-img"
                src=""
                alt="photo"
              />
              <div class="attraction-name-box">
                <div class="attraction-name">
                  <p id="attraction-name" class="name-text body-bold"></p>
                </div>
              </div>
            </div>
            <div class="attraction-text-container">
              <div class="mrt-box">
                <p id="mrt" class="mrt-text body-regular"></p>
              </div>
              <div class="category-box">
                <p id="category" class="category-text body-regular"></p>
              </div>
            </div>
          </div>
          <div class="attraction-container"></div>
          <div class="attraction-container"></div>
          <div class="attraction-container"></div>
          <div class="attraction-container"></div>
          <div class="attraction-container"></div>
          <div class="attraction-container"></div>
          <div class="attraction-container"></div>
          <div class="attraction-container"></div>
          <div class="attraction-container"></div>
          <div class="attraction-container"></div>
          <div class="attraction-container"></div>
        </div>
      </div>
    </main> -->
    <!-- <footer class="footer">
      <div class="footer-content">
        <p class="footer-text body-bold">COPYRIGHT © 2021 台北一日遊</p>
      </div>
    </footer> -->
  </body>
</html>
