<div class="signin-background">
    <div class="signin-main-container">
      <div class="singnin-decorator-bar"></div>
      <div class="signin-container">
        <div class="exit-button-box">
          <img class="exit-img1" src="/static/images/cross-img.png" alt="" />
        </div>
        <div class="signin-title-box">
          <p class="signin-title dialog-title-bold">登入會員帳號</p>
        </div>
        <div class="signin-input-box">
          <input
            type="email"
            id="signin-email"
            class="info-input"
            placeholder="輸入電子信箱"
          />
        </div>
        <div class="signin-input-box">
          <input
            type="password"
            id="signin-password"
            class="info-input"
            placeholder="輸入密碼"
          />
        </div>
        <button class="signin-button button-regular">登入帳戶</button>
        <button class="switch-signup-mode">還沒有帳戶？點此註冊</button>
        <div id="alert-container1" class="alert-container"></div>
      </div>
    </div>

    <div class="signup-main-container">
      <div class="singnin-decorator-bar"></div>
      <div class="signup-container">
        <div class="exit-button-box">
          <img class="exit-img2" src="/static/images/cross-img.png" alt="" />
        </div>
        <div class="signin-title-box">
          <p class="signin-title dialog-title-bold">註冊會員帳號</p>
        </div>
        <div class="signin-input-box">
          <input
            type="text"
            id="signup-name"
            class="info-input"
            placeholder="輸入姓名"
          />
        </div>
        <div class="signin-input-box">
          <input
            type="email"
            id="signup-email"
            class="info-input"
            placeholder="輸入電子郵件"
            required
          />
        </div>
        <div class="signin-input-box">
          <input
            type="password"
            id="signup-password"
            class="info-input"
            placeholder="輸入密碼"
          />
        </div>
        <button id="register-button" class="signin-button button-regular">
          註冊新帳戶
        </button>
        <button class="switch-signin-mode">已經有帳戶了？點此登入</button>
        <div id="alert-container2" class="alert-container"></div>
      </div>
    </div>
  </div>
