<nav class="nav">
  <div class="nav-container">
    <a href="/" class="nav-container-slogan headline">台北一日遊</a>

    <div class="nav-container-button">
      <div
        id="user-welcome"
        class="user-welcome container-link-button body-regular"
      ></div>
      <button id="booking-screen" class="container-link-button body-regular">
        預定行程
      </button>
      <button
        id="signin-screen"
        class="container-link-button body-regular"
      ></button>
    </div>
  </div>
</nav>
